@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap');

:root{
    --background: hsl(222, 26%, 31%);
    --screen:hsl(224, 36%, 15%);
    --screen-text: hsl(0, 0%, 100%);
    --keypad-bg: hsl(223, 31%, 20%);
    --btn-bg: hsl(30, 25%, 89%);
    --btn-shadow: hsl(28, 16%, 65%);
    --btn-text: hsl(221, 14%, 31%);
    --reset-btn-bg: hsl(225, 21%, 49%);
    --reset-btn-shadow: hsl(224, 28%, 35%);
    --equal-btn-bg: hsl(6, 63%, 50%);
    --equal-btn-shadow: hsl(6, 70%, 34%);
    --white: hsl(0, 0%, 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background: var(--background);
}

/* main {
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 2rem);
}

.calc .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--screen-text);
    margin-bottom: 1.5rem;
}

.header h3 {
    font-size: 1.9rem;
}

.header p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.theme{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.theme .scroll{
    display: flex;
    width: 65px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.scroll > span{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 15px;
}

.theme .scroll-btn{
    position: relative;
    background: var(--keypad-bg);
    width: 100%;
    height: 22px;
    border-radius: 10px;
}

.scroll-btn .btn{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--equal-btn-bg);
    left: 5px; /* 20px */
}

.calc .screen {
    width: 430px;
    height: 100px;
    padding: 1.2rem;
    border-radius: 7px;
    background: var(--screen);
    margin: 1.2rem 0;
}

.screen input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 3rem;
    font-weight: 600;
    color: var(--screen-text);
    text-align: right;
}

.calc .keys {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 1.5rem;
    padding: 1.2rem;
    border-radius: 7px;
    background: var(--keypad-bg);
    justify-content: center;
    align-self: center;
}

.keys button {
    padding: 0.7rem 0.8rem;
    border-radius: 7px;
    border: none;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--btn-text);
    background: var(--btn-bg);
    box-shadow: 0px 2px 0px 2px var(--btn-shadow);
    cursor: pointer;
    user-select: none;
}

.keys button:hover {
    background: var(--white);
}

.keys button:active {
    box-shadow: inset 0px 2px 0px 2px var(--btn-shadow);
}

#reset, #del  {
    grid-column: 1 / span 2;
    background: var(--reset-btn-bg);
    box-shadow: 0px 2px 0px 2px var(--reset-btn-shadow);
}

#reset:active, #del:active{
    box-shadow: inset 0px 2px 0px 2px var(--reset-btn-shadow);
}

#del{
    grid-column: 4;
}

#equal{
    grid-column: 3 / span 2;
    background: var(--equal-btn-bg);
    box-shadow: 0px 2px 0px 2px var(--equal-btn-shadow);
}

#equal:active{
    box-shadow: inset 0px 2px 0px 2px var(--equal-btn-shadow);
}

#reset, #equal, #del{
    color: var(--white);
    font-size: 25px;
    height: 52px;
}