@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap");

:root {
    --background: hsl(222, 26%, 31%);
    --screen: hsl(224, 36%, 15%);
    --screen-text: hsl(0, 0%, 100%);
    --keypad-bg: hsl(223, 31%, 20%);
    --btn-bg: hsl(30, 25%, 89%);
    --btn-shadow: hsl(28, 16%, 65%);
    --btn-text: hsl(221, 14%, 31%);
    --btn-hover: hsl(0, 0%, 100%);
    --reset-btn-bg: hsl(225, 21%, 49%);
    --reset-btn-shadow: hsl(224, 28%, 35%);
    --reset-text: hsl(0, 0%, 100%);
    --reset-hover: hsl(225, 21%, 55%);
    --equal-btn-bg: hsl(6, 63%, 50%);
    --equal-btn-shadow: hsl(6, 70%, 34%);
    --equal-text: hsl(0, 0%, 100%);
    --equal-hover: hsl(6, 63%, 57%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
}

body {
    background: var(--background);
    transition: 1.5s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 2rem);
}

.calc{
    max-width: 430px;
    width: 100%;
    margin: 1rem;
}

.calc .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--screen-text);
    margin-bottom: 1.4rem;
}

.header h3 {
    font-size: 1.9rem;
}

.header p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.theme {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.theme .scroll {
    display: flex;
    width: 65px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.scroll > span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 15px;
}

.theme .scroll-btn {
    position: relative;
    background: var(--keypad-bg);
    width: 100%;
    height: 22px;
    border-radius: 10px;
    cursor: pointer;
}

.scroll-btn .scroll-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.scroll-sec > input {
    width: 19px;
    height: 14px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}

.scroll-btn .btn {
    position: absolute;
    width: 16px;
    border-radius: 50%;
    background: var(--equal-btn-bg);
    height: 16px;
    left: 5px; /* 20px */
    transition: 0.6s ease;
}

.calc .screen {
    max-width: 430px;
    height: 100px;
    padding: 1.2rem;
    border-radius: 7px;
    background: var(--screen);
    margin: 1.2rem 0;
}

.screen input {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 3rem;
    font-weight: 600;
    color: var(--screen-text);
    text-align: right;
}

.calc .keys {
    display: grid;
    grid-template-columns: repeat(4, minmax(55px, 80px));
    gap: clamp(.8rem, 4vw, 1.5rem);
    padding: 1.2rem;
    border-radius: 7px;
    background: var(--keypad-bg);
    justify-content: center;
    align-self: center;
}

.keys button {
    padding: 0.7rem 0rem;
    border-radius: 7px;
    height: 55px;
    border: none;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--btn-text);
    background: var(--btn-bg);
    box-shadow: 0px 2px 0px 2px var(--btn-shadow);
    cursor: pointer;
    user-select: none;
}

.keys button:hover {
    background: var(--btn-hover);
}

.keys button:active {
    box-shadow: inset 0px 2px 0px 2px var(--btn-shadow);
}

.keys #reset{
    grid-column: 1 / span 2;
}

.keys #reset ,
.keys #del {
    background: var(--reset-btn-bg);
    box-shadow: 0px 2px 0px 2px var(--reset-btn-shadow);
    color: var(--reset-text);
}

#reset:active,
#del:active {
    box-shadow: inset 0px 2px 0px 2px var(--reset-btn-shadow);
}

#reset:hover,
#del:hover {
    background: var(--reset-hover);
}

.keys #del {
    height: 55px;
}

.keys #equal {
    grid-column: 3 / span 2;
    background: var(--equal-btn-bg);
    box-shadow: 0px 2px 0px 2px var(--equal-btn-shadow);
    color: var(--equal-text);
}

#equal:active {
    box-shadow: inset 0px 2px 0px 2px var(--equal-btn-shadow);
}

#equal:hover{
    background: var(--equal-hover);
}

#reset,
#equal,
#del {
    color: var(--white);
    font-size: 25px;
    height: 52px;
}

.attribution {
    font-size: 12px;
    text-align: center;
    color: var(--equal-btn-bg);
    font-weight: 700;
    line-height: 1.5rem;
}

.attribution a {
    color: var(--screen-text);
    padding: 0.3rem;
    border-radius: 15px;
    background: var(--keypad-bg);
    font-weight: 400;
}
